<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConsumoWS" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://monitor.avalarabrasil.com.br/Efisc.MonitorNFe.ConsumoWS/ConsumoWS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsumoWS"
                contract="WS_Avalara_Connect.IConsumoWS" name="BasicHttpBinding_IConsumoWS" />
        </client>
    </system.serviceModel>
</configuration>