
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Busca por nome</title>
    <script type="text/javascript" src="~/scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.mask.js"></script>
    <script type="text/javascript" src="~/scripts/geral.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/menu.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/geral.css" />


</head>
<body>
    <script type="text/javascript">
        window.close();
    </script></body>
</html>
